.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  width: 30%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
    float: right;
}
